<h1>&Agrave; propos</h1>
<p>Ce site est r&eacute;alis&eacute; dans le cadre d'un projet scolaire. Aucun des 
articles pr&eacute;sents dessus n'est r&eacute;ellement achetable dessus. Ce projet 
est r&eacute;alis&eacute; sous license GNU/GPL, les codes sources sont pr&eacute;sents sur 
github &agrave; l'adresse suivante: <%= link_to 'https://github.com/jponcy/amhiows', 
'https://github.com/jponcy/amhiows' %>.</p>
